.form-group {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  color: #000000;
  font-family: Arial;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  text-decoration: none;
  padding: 16px 15px;
  border: 0px solid #000;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 400px;
}

.input-field {
  height: 80px;
}

.error-msg {
  display: block;
  margin-top: 10px;
  color: #ff0000;
}

.mt-1 {
  margin-top: 1rem;
}
