.controller-footer {
  background-color: #000000;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.control-btn-container {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
}

.disable-control {
  background-color: #ff0000;
}

.end-call-btn {
  background-color: #ff0000 !important;
  color: #ffffff !important;
  border: none !important;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 1.3rem;
  cursor: pointer;
}
